<div data-o-component="o-expander" class="o-expander items" data-o-expander-shrink-to="0" data-o-expander-count-selector="li">
	<h2>Expanded on load, collapsing to nothing, with multiple buttons</h2>
	<a href='#' class="o-expander__toggle o--if-js"></a>
	<ul class="o-expander__content o-expander__content--expanded">
		<li>item</li>
		<li>item</li>
		<li>item</li>
		<li>item</li>
	</ul>
	<a href='#' class="o-expander__toggle o--if-js"></a>
</div>

<div data-o-component="o-expander" class="o-expander items events" data-o-expander-shrink-to="2" data-o-expander-count-selector="li">
	<h2>Hooking up to events </h2>
	<span class="alert"></span>
	<ul class="o-expander__content">
		<li>item</li>
		<li>item</li>
		<li>item</li>
		<li>item</li>
	</ul>
	<a href='#' class="o-expander__toggle o--if-js"></a>
</div>

<div data-o-component="o-expander" class="o-expander items" data-o-expander-shrink-to="0" data-o-expander-count-selector="li" data-o-expander-toggle-state="none">
	<h2>Don't change my button data</h2>
	<ul class="o-expander__content o-expander__content--expanded">
		<li>item</li>
		<li>item</li>
		<li>item</li>
		<li>item</li>
	</ul>
	<a href='#' class="o-expander__toggle o--if-js">This text ain't budging</a>
</div>

<div data-o-component="o-expander" class="o-expander items" data-o-expander-shrink-to="0" data-o-expander-count-selector="li" data-o-expander-toggle-state="aria">
	<h2>Oh, OK. You can update the aria-expanded attribute</h2>
	<ul class="o-expander__content o-expander__content--expanded">
		<li>item</li>
		<li>item</li>
		<li>item</li>
		<li>item</li>
	</ul>
	<a href='#' class="o-expander__toggle o--if-js">But I still ain't budging<i></i></a>
</div>
